@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: white;
  font-family: 'Poppins', -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: #333456;
}

/* DASHBOARD */

.banner__div {
  background-image: linear-gradient(145deg, rgba(63, 63, 68, 1), rgba(63, 63, 68, 0.75));
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 65%;
}

.greeting {
  margin: 20px;
  line-height: 3.5rem;
  color: #f7f7f7;
  font-weight: 700;
}

.dashboard__banner {
  background-color: #fae0df;
  display: flex;
  flex-direction: column;
}

.dashboard__intro {
  color: #389393;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  padding: 50px 0;
  padding-left: 50px;
}

.dashboard__intro > div{
  flex: 1;
  padding-right: 50px;
  margin-bottom: 40px;
}

.dashboard__image {
  width: 100%;
}

.hamburger {
  object-fit: contain;
  width: 60px;
  cursor: pointer;
}

/* DASHBOARD OVER */




/* FAV ARTISTS */

.fav__artists__div {
  margin-top: 100px;
  color: #f7f7f7;
}

.fav__artist {
  margin: 50px 0;
  display: flex;
  align-items: center;
}

.fav__artist__image {
  border: 3px solid #f7f7f7;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(10px 10px 10px #222);
  width: 40%;
  object-fit: contain;
}

.each__artist {
  flex: 1;
  text-align: left;
}

.each__artist > h1 {
  text-shadow: black 2px 0 10px;
  font-size: 2.8rem;
  font-weight: 700;
}

/* FAV ARTISTS OVER */



/* SIMILAR  */

.fav__text {
  font-size: 2rem;
  font-weight: 700;
  padding: 60px 100px;
  text-align: center;
  color: #f7f7f7;
}

/* SIMILAR OVER */





/* TOP */

.fav__songs__div {
  background-image: linear-gradient(to right, rgba(63, 63, 68, 1), rgba(63, 63, 68, 0.75));
  text-align: center;
}

.fav__songs__cover {
  position: relative;
  width: 70%;
  object-fit: contain;
}

/* TOP OVER */





/* TOPTRACKS */

.favorite__banner {
  width: 55%;
  object-fit: contain;
}

/* TOPTRACKS OVER */


/* PAGES OVER */






/* LISTS START */

.mood-booster {
  width: 60%;
  z-index: -1;
}

.sad {
  width: 60%;
  z-index: -1;
}

.list__wrapper {
  padding: 50px 0;
}

.container__div {
  margin: 0 50px;
  background-color: white;
}

.container__div :hover {
  background-color: #eeeeee;
}

.track-history__item {
  padding: 1rem 0.75rem;
  text-align: left;
  font-size: 1rem;
  line-height: 1.2;
  display: flex;
  align-items: center;
}

.order-number {
  margin: 0 30px;
  color: #a6a6a4;
  font-weight: 800;
}

.track__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

.track__artist {
  color: #373a40;
  font-weight: bold;
  white-space: initial;
}

.track-history__image {
  object-fit: contain;
  width: 75px;
  margin-right: 30px;
  border-radius: 10%;
}

.track__track-name {
  color: #a6a6a4;
  margin-top: 10px;
  margin-bottom: 0.2em;
  font-weight: bold;
}

/* DANCELIST */

.dance__div {
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(147, 171, 211,1), rgba(147, 171, 211,0.3));
}

/* DANCELIST OVER */


/* HAPPYLIST */

.happy__div {
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(152, 172, 248,1), rgba(152, 172, 248,0.2));
}

/* HAPPYLIST OVER */


/* MODERATE LIST */

.bittersweet__div {
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(150, 187, 124,1), rgba(150, 187, 124,0.3));
}

/* MODERATE LIST OVER */


/* SAD LIST */

.sad__div {
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.1));
}

/* SAD LIST OVER */


/* LISTS OVER */





/* SEARCH STARTS */

.moodButtons__div {
  background-image: linear-gradient(to bottom, rgba(250, 240, 175, 0.5), rgba(250, 240, 175, 1));
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons__heading {
  text-align: center;
  margin: 0 30px;
  margin-top: 3rem;
  color: #7e8a97;
}

.search-buttons {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-buttons .btn {
  margin: 0.8rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: #778298;
}

.search-buttons .btn:focus {
  box-shadow: none;
}

.search-buttons-top {
  background-color: white;
  padding: 15px 40px;
  margin: 0;
}

.search-buttons-top .btn {
  margin: 0.8rem;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: #a6a6a4;
}

.search-buttons-top .btn:focus {
  box-shadow: none;
  color: #778298;
}

.search-buttons-top .btn:hover {
  color: #778298;
}

.fav__button {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px;
  margin-top: 30px;
}

.similar__img {
  width: 70%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(10px 10px 10px #222);
}

.similar__button {
  border: 2px solid #f7f7f7;
  border-radius: 25px;
  color: #f7f7f7;
  font-weight: 700;
  font-size: 1.1rem;
  margin: 50px 0;
}

.similar__button:hover {
  background-color: #f7f7f7;
  color: #2f3233;
}


/* SEARCH ENDS */


.btn {
  letter-spacing: 1px;
}

.active {
  border-radius: 12px;
  border: 3px solid #99a8b2;
  background-color: #ecf4f3;
}

.heading-div {
  text-align: center;
}

.menu__hamburger {
  width: 45px;
  margin: 2.5rem 0;
}

.menu__div {
  margin: 30px;
  margin-top: 0;
  padding-bottom: 20px;
  border-bottom: 2px solid white;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.top__tracks__text {
  margin-top: 60px;
}

.artist {
  width: 30%;
  margin: 50px;
  margin-top: 0;
  border-radius: 10%;
}

.artists__div {
  text-align: center;
}

.menu__links {
  color: white;
  font-weight: 700;
}

.menu__links:hover{
  color: lightgray;
}

#flyoutMenu {
  background-color: #373a40;
  width: 30vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  z-index: 1000;
}

#flyoutMenu.hide {
  transform: translate3d(-30vw, 0, 0);
}

#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

.name {
  margin: 0 20px;
  margin-bottom: 4rem;
  color: #00587a;
  font-weight: 700;
  font-size: 50px;
}

.login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 248, 205,1);
}

.login > button {
  margin-bottom: 30px;
  font-weight: 700;
  border: 2px solid #99a8b2;
}

.login__header__div {
  display: flex;
  align-items: center;
  background-color: #2f3233;
}

.login__header__div > img {
  width: 70%;
  object-fit: contain;
}

.login__header__div > h1 {
  color: #f7f7f7;
  margin: 50px;
}

.login .btn {
  font-size: 1.2rem;
}

.form-control {
  font-size: 1.2rem;
}

.main-heading {
  font-weight: 800;
  margin: 3rem 0;
  margin-top: 4rem;
  font-size: 55px;
  text-align: center;
  color: #555555;
}

.hide {
  display: none;
}

.loading {
  display: flex;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10%;
  font-size: 150%;
}

.load-more {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.load-more button {
  border: none;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  letter-spacing: 1px;
  outline: none;
}

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
}

.message {
  position: relative;
  font-size: 150%;
  top: 50%;
  left: 50%;
  transform: translateX(-10%);
  color: #fff;
  letter-spacing: 1px;
}

.loader-open {
  overflow: hidden;
}

.errorMsg {
  color: #f21e08;
  background: #fff0f0;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.container__div__fav {
  background-color: white;
}

.container__div__fav :hover {
  background-color: #eeeeee;
}

.fav__songs__cover__text {
  background-image: linear-gradient(to bottom, rgba(255, 248, 205,1), rgba(255, 248, 205,0.4));
  padding: 40px 10px;
  text-align: center;
  margin-bottom: -1%;
  margin-top: -3%;
}

.track__summary {
  display: flex;
  flex-direction: column-reverse;
}

.track__separator {
  display: none;
}

@media (max-width: 1300px) {
  .login__header__div {
    flex-direction: column;
  }
  .login__header__div > img {
    width: 100%;
  }
}

@media (max-width: 920px) {
  .banner__div {
    flex-direction: column;
  }
  .banner {
    width: 100%;
  }
  .greeting {
    padding: 30px;
  }
  #flyoutMenu {
    width: 60vw;
  }
}

@media (min-width: 769px) {
  .track-history__item {
    padding: 1em 1.5em;
  }
  .track__track-name {
    font-weight: 500;
  }
}

@media (max-width: 769px) {
  .container__div {
    margin: 0;
  }
  .dashboard__intro {
    flex-direction: column;
    font-size: 2.2rem;
  }
  .dashboard__intro > div{
    text-align: center;
  }
  .dashboard__image {
    width: 70%;
  }
  .fav__button {
    flex-direction: column;
  }
  .fav__text {
    padding: 50px 20px;
  }
  .fav__artist {
    flex-direction: column;
  }
  .each__artist {
    margin-top: 30px;
  }
  .login__header__div > h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .search-buttons {
    flex-direction: column;
  }
  .greeting {
    font-size: 1.5rem;
    padding: 25px;
  }
  .dashboard__image {
    width: 85%;
  }
  .each__artist > h1 {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 500px) {
  .list__wrapper {
    padding: 0;
  }
  .login__header__div > h1 {
    font-size: 1.8rem;
  }
  #flyoutMenu {
    width: 100vw;
  }
  #flyoutMenu.hide {
    transform: translate3d(-100vw, 0, 0);
  }
  .dashboard__intro {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
  .buttons__heading > h1{
    font-size: 1.5rem;
  }
  .greeting {
    font-size: 1.5rem;
    padding: 15px;
  }
  .track-history__item {
    font-size: 1rem;
    padding: 1rem 0;
  }
  .order-number {
    margin: 0 12px;
  }
  .track-history__image {
    margin-right: 12px;
  }
  .favorite__banner {
    width: 80%;
  }
  .search-buttons-top {
    padding: 10px;
    padding-bottom: 0;
  }
  .each__artist > h1 {
    font-size: 1.7rem;
  }
  .fav__text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .login__header__div > h1 {
    font-size: 1.4rem;
    margin: 50px 30px;
  }
  .dashboard__image {
    width: 100%;
  }
  .dashboard__intro {
    font-size: 1.5rem;
  }
  .name {
    font-size: 35px;
  }
  .artist {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 70%;
  }
  .track-history__item {
    font-size: 0.7rem;
  }
  .search-buttons .btn {
    margin: 0.6rem;
  }
  .order-number {
    font-size: 0.8rem;
  }
  .main-heading {
    font-size: 2.8rem;
  }
  .fav__artist__image {
    width: 37%;
  }
  .each__artist > h1 {
    font-size: 1.5rem;
  }
  .fav__text {
    font-size: 1.2rem;
    padding-bottom: 30px;
  }
}
